*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

footer ul{
    display: flex;
    list-style: none;
}


footer ul ol{
    width: 33%;
    background-color: red;
    border:1px solid black;
}

main{
    overflow: auto;
    flex-grow:1;
    background-color: green;
}

header{
    height: 100px;
    background-color:blue;
}




